.DS_Store
.config
.version
.depend
*.o
*.a

boot/head.s
boot/bootsect.s
boot/setup.s
boot/bootsect
boot/setup


config.old
include/linux/autoconf.h
kernel/ksyms.lst
kernel/ksyms.s
kernel/sys_call.s
ksyms.lst
tools/version.h
