.DS_Store
*.o
*.a

bochsout.txt
minix.img
minix.img.lock
zImage.lock

.config
.depend
.tmpdepend
.version

boot/head.s
boot/bootsect.s
boot/setup.s
boot/bootsect
boot/setup

kernel/ksyms.s
kernel/sys_call.s

config.old
include/linux/autoconf.h
ksyms.lst

tools/version.h
tools/build
tools/zSystem

zBoot/a.out
zBoot/head.s
zBoot/piggyback
zBoot/xtract
zBoot/zSystem

zImage
zSystem.map