.DS_Store
*.o
*.a
boot/setup.s
boot/bootsect.s
kernel/chr_drv/keyboard.s
Image
System.map
boot/bootsect
boot/setup
tools/build
tools/system
tools/system.elf
boot/bootsect.elf
boot/setup.elf
explain.txt
bochsout.txt
minix.img
minix01.img
xhd
xxx
